ex_vetores01
ex_vetores02
ex_vetores03
ex_vetores04
ex_vetores05
ex_vetores06
ex_vetores07
ex_vetores08
ex_vetores09
ex_vetores10
ex_vetores11
01
02
03
04
05
matriz01
string01
string02
Makefile
exercicio1_revisao
exercicio2_revisao
exercicio3_revisao
exercicio4_revisao
exercicio5_revisao
exercicio6_revisao
teste
teste.c
teste_strings
teste_strings.c
ponteiros1
ponteiros2
ponteiros3
ponteiros4
struct1
struct2
struct3
struct_project/struct4
struct_project/Cheque
pilha/1.PilhaCF modelo/main
fila/FilaCF/menu

